<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>

<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>

</head>
<body>

	<div th:replace="fragments/fragments :: header"></div>

	<div class="container">
		<h2>Button</h2>
		<p>The .btn class adds basic styling to a button:</p>
		<form>
			<div class="form-group">
				<input type="text" class="form-control" />
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary">Basic Button</button>
			</div>
		</form>
	</div>
		<div th:replace="fragments/fragments :: footer"></div>
		
	
	
</body>
</html>